*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.clear{
    clear: both;
}

.container{
    width: 100%;
    height: 80px;
    background-color: #08242f;
    display: block;
    overflow-y: hidden;
}

.logo01 img{
    width: 140px;
    height: 80px;
    position:cover;
    margin-left: 10%;
    position: absolute;
    z-index: 1;
}

.menu input[type=button]{
    z-index: 2;
    float: right;
    background-color: #08242f;
    color: white;
    width: 120px;
    height: 60px;
    padding: 5px;
    margin-top: 10px;
    border: 0;
}

.menu input[type=button]:nth-child(1){
    margin-right: 10%;
}

.menu input[type=button]:hover{
    background-color: #ebbc71;
    cursor: pointer;
}

.container-2{
    width: 100%;
    height: 700px;
}

.logo-2{
    background-image: url(..//imagens/casa.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo-2 form{
    display: inline-block;
    width: 550px;
    height: 550px;
    background-color:white;
    border: 4px solid #08242f;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

.logo-2 input[type=text]{
    width: 400px;
    height: 50px;
    text-align: center;
    padding: 5px;
    margin-left: 75px;
    margin-top: 40px;
}

.logo-2 input[type=button]{
    width: 300px;
    height: 50px;
    background-color: #ebbc71;
    color: white;
    margin-left: 130px;
    margin-top: 60px;
    border: 0;
    cursor: pointer;
}

.logo-2 h2{
    text-align: center;
    font-size: 30px;
    color:#ebbc71;
    margin-top: 10px;
}


section.container-3{
    width: 100%;
    height: 300px;
    background-color: #08242f;
}

.box-3{
    text-align: center;
    margin-top: 95px;
}

.box-3 h2{
    font-size: 35px;
    font-weight: bold;
    color: #ebbc71;
}

.box-3 p{
    font-weight: bold;
    color:white;
    margin-top: 10px;
}

.box-3 img{
    margin-top: 110px;
    position: absolute;
    margin-left: -2%;
}

.container-4{
    width: 100%;
    height: 1205px;
    background-color: white;
    display: block;
}

.box-4 img{
    width:600px;
    height: 300px;
    margin-left: 17%;
}

.box-4 p{
    display: block;
    padding: 30px;
    background-color: #14485c;
    color: #ebbc71;
    width: 600px;
    height: 300px;
    float: right;
    margin-right: 19.9%;
    font-size: 21px;
}

.box-5 p{
    color:#ebbc71;
    width: 600px;
    height: 300px;
    margin-left: 17%;
    background-color: #14485c;
    display: block;
    padding: 30px;
    font-size: 24px;
}

.box-5 img{
    width: 600px;
    height: 300px;
    float: right;
    margin-right: 19.9%;
    display: block;
    margin-top:-300px;
}

section.clear{
    clear: both;
}

.box-6 img{
    width: 600px;
    height: 300px;
    margin-left: 17%;
    display: block;
}

.box-6 p{
    width: 600px;
    height: 300px;
    float: right;
    margin-right: 19.9%;
    display: block;
    background-color: #14485c;
    color: #ebbc71;
    margin-top: -300px;
    padding: 30px;
    font-size: 23px;
}

.box-7 p{
  width: 600px;
  height: 300px;
  margin-left: 17%;
  background-color: #14485c;
  color: #ebbc71;
  display: block;
  padding: 30px;
  font-size: 24px;
}

.box-7 img{
    width: 600px;
    height: 300px;
    float: right;
    margin-right: 19.9%;
    margin-top: -300px;
}

footer{
    width: 100%;
    height: 300px;
    background-color: #08242f;
    color:white;
    display: block;
}

.box-8{
    margin-left: 10%;
    padding: 5px;
    margin-top: 80px;
}

.box-8 li{
    margin-top: 15px;
}

.box-8 h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box-9{
    margin-left:15%;
    padding:5px;
    text-align: center;
    margin-top: -174px;
}

.box-9 h2{
    font-size: 24px;
    font-weight: bold;
}

.box-9 p{
    margin-top: 40px;

}
.box-10{
    float: right;
    padding: 5px;
    margin-right: 10%;
    margin-top: -170px;
}

.box-10 h2{
    font-size: 24px;
    font-weight: bold;
}

.box-10 p{
    margin-top: 40px;
}